<button type="button" ng-click="vm.getIncreasedValue();">Increase</button>
<button type="button" ng-click="vm.getDecreasedValue();">Decrease</button>
<div>{{ vm.finalValue}}</div>
<div>
    <input type="number" value="input" placeholder="enter a number" ng-model="vm.myInputValue">
</div>
<div>{{vm.myInputValue}}</div>





<!-- <button type="button" ng-click="getIncreasedValue();">Increase</button>
<button type="button" ng-click="getDecreasedValue();">Decrease</button>

<div>{{ myFinalValue}}</div>
<div>
    <input type="number" value="input" placeholder="enter a number" ng-model="myValue">
</div>
<div>{{myValue}}</div>
 -->